@model IEnumerable<RestaurantGuide.Web.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>The Latest Reviews</h2>

@foreach (var review in Model)
{
    <section class="panel panel-default">
        <h4 class="panel-title">@review.Name</h4>
        <div class="panel-body">
            <div class="text-primary">Rating: @review.Rating</div>
            <div>Location: @review.City, @review.Country</div>
        </div>
    </section>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section footer {
    <span class="text-info">* We are showing the latest @Model.Count() reveiws.</span>
}
